@import "tailwindcss";

/* @theme {
  --animate-shimmer: shimmer 1.6s ease-in-out infinite;

  @keyframes shimmer {
    0%   { background-position: 200% center; }
    100% { background-position: -200% center; }
  }
} */

@theme {
  --animate-shimmer: shimmer 1.2s linear infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(150%);
  }
}